img{
    width: 100px;

}
.list{
    display: flex;
    list-style: none;
    gap: 20px;

}
a{
    text-decoration: none;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: large;
    color: black;
}
a:hover{
    cursor: pointer;
    color: blue;
}
